[[template "top.html" .]]
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            [[if eq .result "OK"]]
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="fa fa-check-circle"></i> Your settings have been succesfully saved
            </div>
            [[end]]
            <h3 class="page-title">添加设备信息</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 20%">名称</th>
                                        <th style="width: 40%">类型</th>
                                        <th style="width: 20%">格式</th>
                                        <th style="width: 20%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="c in ddob">
                                        <td>{{c.Name}}</td>
                                        <td>{{c.Dottype}}</td>
                                        <td>{{c.Datatype}}</td>
                                        <td class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs" @click="dltdrvdot(c.Name)">删除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<script>
var tmp = JSON.parse([[.usrdrvinfo]]);
        new Vue({
            el: '#app',
            data: {
                ob: tmp,
                drvname: "",
                ddob: [],
            },
            methods: {
                adddrvdot: function () {
                    var self = this;
                    var name = $("#dotname").val();
                    var dtype = $("#dottype").val();
                    var datatype = $("#datatype").val();
                    var info = $("#dotinfo").val();
                    if (name.length < 2) {
                        alert("设备名称长度必须大于2")
                    }
                    else {
                        $.post("/drvmag",
                            {
                                type: "creatnewdot",
                                name: name,
                                dtype: dtype,
                                datatype: datatype,
                                info: info,
                                drv: self.drvname
                            },
                            function (data, status) {
                                alert("数据1：" + data + "\n状态：" + status);
                                self.getdrvdot(self.drvname)
                            });

                    }
                },
                dltdrvdot: function (dot) {
                    var self = this
                    var mymessage = confirm("确定删除设备 " + self.drvname + " 中的 " + dot + " 数据点？");
                    if (mymessage == true) {
                        $.post("/drvmag",
                            {
                                type: "dltdrvdot",
                                dotname: dot,
                            },
                            function (data, status) {
                                alert("数据：" + data + "\n状态：" + status);
                            })
                    }
                    else if (mymessage == false) {
                    }
                }
            }
        })
    </script>
[[template "bottom.html" .]]