[[template "top.html" .]]
<script type="text/javascript"> 
    $('#exampleModal').on('show.bs.modal', function (event) {

    });
    $(document).ready(function () {
        $("#button").on("click", function () {

        });
    });
</script>
<div class="content">
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">设备管理</h1>
        <ol class="breadcrumb">
            <li class="active">管理设备及设备的数据点</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="张三">新增</button>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- MAIN CONTENT -->

    <div id="app">
        <div class="row">
            <div class="col-md-4" v-for="c in ob.Drv">
                <!--设备显示面板-->
                <div class="panel" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);">
                    <div class="panel-title">
                        <h3 class="panel-title">
                            <span class="badge" style="float: left;position:absolute;text-align: right;right: 5%;">
                                <a :href="'/web/drvdot?type=drvdot&drv=' + c.Name ">
                                    管理数据点
                                </a>
                            </span>
                            {{c.Name}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled activity-timeline">
                            <li>
                                <i class="fa fa-hdd-o activity-icon"></i>
                                <span class="timestamp">创建时间：</span>
                                <span class="timestamp">{{c.Time}}</span>
                            </li>
                            <br>
                            <li>
                                <i class="fa fa-hdd-o activity-icon"></i>
                                <span class="timestamp">协议类型：</span>
                                <span class="timestamp">{{c.Packtype}}</span>
                            </li>
                        </ul>
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" :href="'/web/drvpic?drv=' + c.Name ">组态图</a>
                            <button class="btn btn-primary btn-xs">修改</button>
                            <button class="btn btn-danger btn-xs">删除</button>
                        </div>
                    </div>
                </div>
                <!--设备显示面板-->
            </div>
        </div>
        <!--用户设备-->
        <div class="modal fade" id="newdot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">管理设备数据点</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">新建设备</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">设备名称</label>
                                    <input type="text" class="form-control" id="drv-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">服务端口</label>
                                    <input type="text" class="form-control" id="drv-port" value="2020"></input>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">协议类型</label>
                                    <select class="form-control" id="drv-type">
                                        <option value="态神">态神</option>
                                        <option value="MODBUS">MODBUS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">设备地址</label>
                                    <input type="text" class="form-control" id="drv-addr" value="1"></input>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">读取间隔（秒）</label>
                                    <input type="text" class="form-control" id="drv-spltime" value="30"></input>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">重连时间（秒）</label>
                                    <input type="text" class="form-control " id="drv-rtime" value="10"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="addnewdrv" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--修改用户信息弹出框-->

    <!--修改用户信息弹出框-->
    <script>
        var tmp = JSON.parse([[.usrdrvinfo]]);
        new Vue({
            el: '#app',
            data: {
                ob: tmp,
                drvname: "",
                ddob: [],
            },
            methods: {
                getdrvdot: function (drv) {
                    var self = this;
                    self.drvname = drv
                    $.get("/web/addinfo",
                        {
                            type: "drvdot",
                            drv: drv,
                        })
                },
                addnewdrv: function () {
                    var self = this;
                    var name = $("#drv-name").val();
                    var port = $("#drv-port").val();
                    var types = $("#drv-type").val();
                    var addr = $("#drv-addr").val();
                    var rtime = $("#drv-rtime").val();
                    var spltime = $("#drv-spltime").val();
                    if (name.length < 2) {
                        alert("设备名称长度必须大于2")
                    }
                    else {
                        for (J=0;J< self.ob.Drv.length;J++) {
                            if (name == self.ob.Drv[J].Name) {
                                alert("设备名称已存在")
                                return
                            }
                        }
                        if(types == "MODBUS"){
                            for (J=0;J< self.ob.Drv.length;J++) {
                            if (port == self.ob.Drv[J].Port && addr == self.ob.Drv[J].Addr) {
                                alert("MODBUS设备不允许相同端口上存在地址相同的设备，请修改！")
                                return
                            }
                            }
                        }
                        $.post("/web/drvmag",
                            {
                                type: "creatnewdrv",
                                name: name,
                                port: port,
                                packtype: types,
                                addr: addr,
                                rtime: rtime,
                                spltime: spltime,
                                rcount: 0
                            },
                            function (data, status) {
                                alert(data);
                            });

                    }
                }
            }
        })
        console.log(tmp)
    </script> [[template "bottom.html" .]]