[[template "top.html" .]]
<script type="text/javascript"> 
    $('#exampleModal').on('show.bs.modal', function (event) {

    });
    $(document).ready(function () {
        $("#button").on("click", function () {
            var name = $("#drv-name").val();
            var port = $("#drv-port").val();
            var types = $("#drv-type").val();
            var info = $("#drv-info").val();
            if (name.length < 2) {
                alert("设备名称长度必须大于2")
            }
            else {
                $.post("/admin/drvmag",
                    {
                        type: "creatnewdrv",
                        name: name,
                        port: port,
                        types: types,
                        info: info
                    },
                    function (data, status) {
                        alert("数据：" + data + "\n状态：" + status);
                    });

            }
        });
    });
</script>
<div class="content">
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">设备管理</h1>
        <ol class="breadcrumb">
            <li class="active">管理设备及设备的数据点</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="张三">新增</button>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- MAIN CONTENT -->

    <div class="panel-body no-padding" id="app">

        <br>
        <div class="row">
            <div class="col-md-4" v-for="c in ob">
                <!--设备显示面板-->
                <div class="panel">
                    <div class="panel-title">
                        <h3 class="panel-title">{{c.Name}}</h3>
                        <ul class="panel-tools">
                                <li>
                                    <a class="icon expand-tool">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="icon closed-tool">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>

                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled activity-timeline">
                            <li>
                                <div class="pull-right">
                                    <a :href="'/admin/addinfo?type=drvdot&drv=' + c.Name ">
                                        <span>管理数据点</span>
                                    </a>
                                </div>
                                <i class="fa fa-hdd-o activity-icon"></i>
                                <p>
                                    <span class="timestamp">创建时间</span>
                                    <span class="timestamp">{{c.Time}}</span>
                                </p>
                            </li>

                        </ul>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-xs">修改</button>
                            <button class="btn btn-danger btn-xs">删除</button>
                        </div>
                    </div>
                </div>
                <!--设备显示面板-->
            </div>
        </div>
        <!--用户设备-->
        <div class="modal fade" id="newdot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">管理设备数据点</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--修改用户信息弹出框-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">新建设备</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">设备名称</label>
                            <input type="text" class="form-control" id="drv-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">服务端口</label>
                            <input type="text" class="form-control" id="drv-port" value="2020"></input>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">协议类型</label>
                            <input type="text" class="form-control " id="drv-type" value="MODBUS"></input>
                        </div>
                        <div>设备说明</div>
                        <textarea class="form-control" placeholder="textarea" rows="4" id="drv-info"></textarea>
                        <br>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="button" id="button" value="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改用户信息弹出框-->
    <script>
        var tmp = JSON.parse([[.usrdrvinfo]]);
        new Vue({
            el: '#app',
            data: {
                ob: tmp,
                drvname: "",
                ddob: [],
            },
            methods: {
                getdrvdot: function (drv) {
                    var self = this;
                    self.drvname = drv
                    $.get("/admin/addinfo",
                        {
                            type: "drvdot",
                            drv: drv,
                        })
                },
                adddrvdot: function () {
                    var self = this;
                    var name = $("#dotname").val();
                    var dtype = $("#dottype").val();
                    var datatype = $("#datatype").val();
                    var info = $("#dotinfo").val();
                    if (name.length < 2) {
                        alert("设备名称长度必须大于2")
                    }
                    else {
                        $.post("/admin/drvmag",
                            {
                                type: "creatnewdot",
                                name: name,
                                dtype: dtype,
                                datatype: datatype,
                                info: info,
                                drv: self.drvname
                            },
                            function (data, status) {
                                alert("数据：" + data + "\n状态：" + status);
                            });

                    }
                },
                dltdrvdot: function (dot) {
                    var self = this
                    var mymessage = confirm("确定删除设备 " + self.drvname + " 中的 " + dot + " 数据点？");
                    if (mymessage == true) {
                        $.post("/admin/drvmag",
                            {
                                type: "dltdrvdot",
                                dotname: dot,
                            },
                            function (data, status) {
                                alert("数据：" + data + "\n状态：" + status);
                            })
                    }
                    else if (mymessage == false) {
                    }
                }
            }
        })
        console.log(tmp)
    </script> [[template "bottom.html" .]]