[[template "top.html" .]]

<!-- MAIN -->
<div class="content" id="app">
    <div class="page-header">
        <h1 class="title">{{ ob.Drvname }}</h1>
        <ol class="breadcrumb">
            <li class="active">选择数据点：</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-icon btn-light" @click="chartortable = true">
                    <i class="fa fa-th-list"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light" @click="chartortable = false">
                    <i class="fa fa-th"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light" @click="tableindex++">
                    <i class="fa fa-th"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light" @click="tableindex--">
                    <i class="fa fa-th"></i>
                </button>
            </div>
        </div>
        <!-- End Page Header Right Div -->
    </div>
    <!-- OVERVIEW -->
    <div>
        <div class="row">
            <div class="col-md-2">
                <template v-for="v in ob.Dot" v-if="v.Type== 3 || v.Type == 4">
                    <div class="checkbox checkbox-info checkbox-circle">
                        <input :id="'#/checkbox88/'+v.Name" type="checkbox" name="selectdrv" :value="v.Name" @click="getvalue(drv,v.Name)">
                        <label :for="'#/checkbox88/'+v.Name">
                            {{v.Name}}
                        </label>
                    </div>
                </template>
            </div>
            <div class="col-md-10">
                <div v-if="chartortable">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>编号</td>
                                <template v-for="d in alldotvalue">
                                    <td>{{d.Name}}</td>
                                </template>
                                <td>更新时间</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in alldotvalue[0].Data">
                                <template v-if="index > tableindex*10 && index <= (tableindex*10+10)">
                                    <td>
                                        {{index}}
                                    </td>
                                    <template v-for="d in alldotvalue">
                                        <td>{{d.Data[index]}}</td>
                                    </template>
                                    <td>
                                        {{alldotvalue[0].Time[index]}}
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <div id="main" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END OVERVIEW -->
</div>
<script>
    //获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    $("input").click(function () {
        alert("123")
    });
    var xxitem = new Array();
    var count = " "
    var tmp = JSON.parse([[.tmp]]);
    new Vue({
        el: '#app',
        data: {
            ob: tmp,
            drv: [[.drv]],
            dot: "",
            tableindex: 0,
            alldotvalue: [],
            chartortable: false,
            vob: JSON.parse([[.video]])
        },
        created: function () {
            var self = this
            var starttime = new Date(new Date().getTime())
            var stoptime = new Date(new Date().getTime() + 24 * 60 * 60 * 1000)
            var sstime = starttime.getFullYear() + '/' + (starttime.getMonth() + 1) + '/' + starttime.getDate()
            var sttime = stoptime.getFullYear() + '/' + (stoptime.getMonth() + 1) + '/' + stoptime.getDate()
            $.post("/web/muxchart",
                {
                    type: "dotvalue",
                    drv: self.drv,
                    start: sstime,
                    stop: sttime
                },
                function (data, status) {
                    self.alldotvalue = JSON.parse(data)
                });
        },
        methods: {
            getvalue: function (drv, dot) {
                var self = this;
                var obj = document.getElementById('#/checkbox88/' + dot);
                if (obj.checked) {
                } else {
                    var index = 0
                    for (i = 0; i < xxitem.length; i++) {
                        if (xxitem[i].name === dot) {
                            break
                        }
                        index++
                    }
                    xxitem.splice(index, 1);
                    console.log(index, xxitem)
                    myChart.setOption({
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: JSON.parse(data).Time
                        },
                        series: xxitem
                    }, true);
                    return
                }
                if (drv == "S" && dot == "S") { }
                else {
                    self.drv = drv
                    self.dot = dot
                }
                var starttime = new Date(new Date().getTime())
                var stoptime = new Date(new Date().getTime() + 24 * 60 * 60 * 1000)
                var sstime = starttime.getFullYear() + '/' + (starttime.getMonth() + 1) + '/' + starttime.getDate()
                var sttime = stoptime.getFullYear() + '/' + (stoptime.getMonth() + 1) + '/' + stoptime.getDate()
                console.log(drv, dot)
                $.post("/web/",
                    {
                        type: "dotvalue",
                        drv: self.drv,
                        dot: self.dot,
                        start: sstime,
                        stop: sttime
                    },
                    function (data, status) {
                        var xitem = {
                            // 根据名字对应到相应的系列

                            name: dot,
                            type: 'line',
                            data: JSON.parse(data).Data
                        }
                        xxitem.push(xitem)
                        myChart.setOption({
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: JSON.parse(data).Time
                            },
                            series: xxitem
                        });

                    });
            },
        }
    })
    //自适应宽高
    var myChart = echarts.init(document.getElementById('main'));


    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: []
        },
        yAxis: {
            type: 'value',
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        },
        tooltip: {
            trigger: 'axis',
        },
        series: [{
            name: '最高气温',
            type: 'line',
            data: [11, 11, 15, 13, 12, 13, 10],
            markPoint: {
                data: [
                    { type: 'max', name: '最大值' },
                    { type: 'min', name: '最小值' }
                ]
            },
            markLine: {
                data: [
                    { type: 'average', name: '平均值' }
                ]
            }
        }]
    });
    //浏览器大小改变时重置大小
    window.onresize = function () {
        //myChartContainer();
        //myChart.resize();
    };
    $.fn.datepicker.dates['cn'] = {   //切换为中文显示
        days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
        daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
        daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        today: "今天",
        clear: "清除"
    };

    $('.selectData').datepicker({
        autoclose: true, //自动关闭
        beforeShowDay: $.noop,    //在显示日期之前调用的函数
        calendarWeeks: false,     //是否显示今年是第几周
        clearBtn: false,          //显示清除按钮
        daysOfWeekDisabled: [],   //星期几不可选
        endDate: Infinity,        //日历结束日期
        forceParse: true,         //是否强制转换不符合格式的字符串
        format: 'yyyy-mm-dd',     //日期格式
        keyboardNavigation: true, //是否显示箭头导航
        language: 'cn',           //语言
        minViewMode: 0,
        orientation: "auto",      //方向
        rtl: false,
        startDate: -Infinity,     //日历开始日期
        startView: 0,             //开始显示
        todayBtn: false,          //今天按钮
        todayHighlight: false,    //今天高亮
        weekStart: 0              //星期几是开始
    });

    console.log(tmp)
</script>
<!-- Basic Single Date Picker -->
<script type="text/javascript">
    $('#userdrvs').on('show.bs.modal', function (event) {
        var starttime = new Date(new Date().getTime())
        var stoptime = new Date(new Date().getTime() + 24 * 60 * 60 * 1000)
        $("#datestart").val(starttime.getFullYear() + '/' + (starttime.getMonth() + 1) + '/' + starttime.getDate())
        $("#datestop").val(stoptime.getFullYear() + '/' + (stoptime.getMonth() + 1) + '/' + stoptime.getDate())

    });
    new EZUIPlayer('myPlayer');
</script>
<!-- END MAIN -->