<!doctype html>
<html lang="en">

<head>
	<title>[[.name]]</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> [[template "cssjs.html" .]]
</head>
<script>
	$(document).ready(function () {
		var nice = $("html").niceScroll();  // The document page (body)
	});
</script>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- START TOP -->
		<div id="top" class="clearfix">

			<!-- Start App Logo -->
			<div class="applogo">
				<a href="/admin/" class="logo">龙腾伟业</a>
			</div>
			<!-- End App Logo -->

			<!-- Start Sidebar Show Hide Button -->

			<a href="#" class="sidebar-open-button-mobile">
				<i class="fa fa-bars"></i>
			</a>
			<!-- End Sidebar Show Hide Button -->


			<!-- Start Top Right -->
			<ul class="top-right">
				<li class="dropdown link">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox">
						<img src="../static/img/profileimg.png" alt="img">
						<b>[[.name]]</b>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
						<li role="presentation" class="dropdown-header">Profile</li>
						<li>
							<a href="#">
								<i class="fa falist fa-inbox"></i>Inbox
								<span class="badge label-danger">4</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa falist fa-file-o"></i>Files</a>
						</li>
						<li>
							<a href="#">
								<i class="fa falist fa-wrench"></i>Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<i class="fa falist fa-lock"></i> Lockscreen</a>
						</li>
						<li>
							<a href="#">
								<i class="fa falist fa-power-off"></i> Logout</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- End Top Right -->

		</div>
		<!-- END TOP -->
		<!-- START SIDEBAR -->
		<div class="sidebar clearfix">
			<ul class="sidebar-panel nav">
				<li class="sidetitle">控制台</li>
				<li>
					<a href="/admin/">
						<span class="icon color5">
							<i class="fa fa-home"></i>
						</span>总览
						
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon color7">
							<i class="fa fa-flask"></i>
						</span>管理
						<span class="caret"></span>
					</a>
					<ul style="display: block;">
						<li>
							<a href="/admin/manage">用户管理</a>
						</li>
						<li>
							<a href="/admin/drvmag">设备管理</a>
						</li>
						<li>
								<a href="/admin/video">监控设备</a>
							</li>
					</ul>
				</li>
		</div>
		<!-- END SIDEBAR -->