<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> [[template "cssjs.html" .]]

</head>

<body>
    <!-- START TOP -->
    <div id="top" class="clearfix">

        <!-- Start App Logo -->
        <div class="applogo">
            <a href="/usershow" class="logo">龙腾伟业</a>
        </div>
        <!-- End App Logo -->

        <!-- Start Top Right -->
        <ul class="top-right">
            <li class="dropdown link">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox">
                    <img src="../static/img/profileimg.png" alt="img">
                    <b>[[.name]]</b>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                    <li role="presentation" class="dropdown-header">Profile</li>
                    <li>
                        <a href="#">
                            <i class="fa falist fa-inbox"></i>Inbox
                            <span class="badge label-danger">4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa falist fa-file-o"></i>Files</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa falist fa-wrench"></i>Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa falist fa-lock"></i> Lockscreen</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa falist fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- End Top Right -->

    </div>
    <!-- END TOP -->
    <div style="background-color: #fff;padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;" id="app">
        <!--导航-->

        <div class="bt">总体预览</div>
        <div v-for="v in ob.Drv">
            <div style="border: 1px solid #399bff;">
                <div style="height: 30px;background-color: #399bff;padding-left: 10px;vertical-align: middle">
                    <div style="text-align: left;width: 30%;float: left;position:absolute;line-height:30px">
                        {{v.Drvname}}
                    </div>
                    <div style="text-align: right;width: 30%;float: left;position:absolute;right: 5%;line-height:30px">
                        <a type="button" :href="'/usershowdrv?user='+ob.User+'&drv=' + v.Drvname" style="color:#fff;">查看详细信息</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6" style="height: 130px;padding-left: 30px;margin-top: 10px;margin-bottom: 10px;border-right: 1px solid #bacdd3;width: 25%">
                        <div style="text-align: center;font-size: 18px;">传感节点</div>
                        <br>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">数量：{{v.Sensornum}}个</div>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px"> 更新时间：15点15分</div>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px"> 报警信息：无</div>
                    </div>
                    <div class="col-md-3 col-xs-6" style="height: 130px;padding-left: 10px;margin-top: 10px;margin-bottom: 10px;border-right: 1px solid #bacdd3;width: 25%">
                        <div style="text-align: center;font-size: 18px;">动作节点</div>
                        <br>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">控制器节点：{{v.IOnum}}个</div>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px"> 更新时间：15点15分</div>
                    </div>
                    <div class="col-md-3 col-xs-6" style="height: 130px;padding-left: 10px;margin-top: 10px;margin-bottom: 10px;border-right: 1px solid #bacdd3;width: 25%">
                        <div style="text-align: center;font-size: 18px;">联锁控制器</div>
                        <br>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">联锁控制器：{{v.Logicnum}}个</div>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">正在运行：0个</div>
                    </div>
                    <div class="col-md-3 col-xs-6" style="height: 130px;padding-left: 10px;margin-top: 10px;margin-bottom: 10px;width: 25%">
                        <div style="text-align: center;font-size: 18px;">监控设备</div>
                        <br>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">监控设备：{{v.Videonum}}个</div>
                        <div style="line-height: 28px;font-size: 15px;padding-left: 10px">在线数量：0个</div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        <!-- END MAIN CONTENT -->
    </div>
    </div>
</body>
<script>
    var tmp = JSON.parse([[.tmp]]);
    console.log([[.tmp]])
    new Vue({
        el: '#app',
        data: {
            ob: tmp
        }
    })
    console.log(tmp)
</script>

</html>