[[template "top.html" .]]
<div class="content">
    <!-- MAIN CONTENT -->
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title"> 设备数据点管理</h1>
        <ol class="breadcrumb">
            <li class="active">设备数据点管理</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default pull-right" @click="getlivelist">新增</button>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <div class="row" id="app">
            <div class="col-md-4">
            <video id="myPlayer" width=320 height=180 class="video-js vjs-default-skin" controls autoplay>
                    <source src="http://hls.open.ys7.com/openlive/3aca8b44564842eb929cc93c097a94c2.m3u8" type="application/x-mpegURL">
                </video>
            </div>
            <div class="col-md-4">
                    <video id="myPlayers" width=320 height=180 class="video-js vjs-default-skin" controls autoplay>
                            <source src="http://hls.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b.m3u8" type="application/x-mpegURL">
                        </video>
                    </div>
    </div>
<br>
    <!-- END MAIN CONTENT -->
</div>
<script>
    var tmp = "JSON.parse([[.usrdrvinfo]]);"
    new Vue({
        el: '#app',
        data: {
            ob: tmp,
            drvname: [[.drv]],
            ddob: [],
        },
        methods: {
            getlivelist: function (drv) {
                var self = this
                $.post("/admin/addinfo",
                    {
                        type: "drvdot",
                        drv: drv,
                    },
                    function (data, status) {

                        self.ob = JSON.parse(data)
                    });
            }            
        }
    })
</script> 
<script type="text/javascript">
    new EZUIPlayer('myPlayer');
    new EZUIPlayer('myPlayers');
</script>
[[template "bottom.html" .]]